.posts-container {
  margin-top: 20px;
}

.posts-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.all-post {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-body {
  padding: 20px;
}

.post-item {
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-content {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.post-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.view-button {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.view-button:hover {
  background-color: #0056b3;
  color: white;
}

.bus-details {
  background-color: #b2cbe6;
}

.bus-number-container {
  display: flex;
  flex-direction: column;
}

.bus-number-row {
  /* Adjust the styling for the rows as needed */
  margin-bottom: 5px;
}

.bus-seating-layout {
  display: flex;
  justify-content: center;
  gap: 40px; /* Space for aisle */
}

.seat-column {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Vertical space between seats */
}

.seat-button {
  width: 50px;
  height: 50px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  font-weight: bold;
}

.seat-button.selected {
  background-color: #007bff; /* Highlight for selected seats */
  color: white;
}

.seat-button:hover {
  background-color: #e0e0e0;
}

.aisle {
  width: 40px; /* Width of the aisle */
  height: 100%;
}

